doctype 5
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",href="./css/reset.css")
    link(rel="stylesheet",href="./css/flowtime.css")
    link(rel="stylesheet",href="./css/default.css")
    link(rel="stylesheet",href="./css/prism.css")
    link(rel="stylesheet",href="./index.css")
    title generator-flowtime
  body
    .flowtime
      .ft-section
        .ft-page
          h1 section1 / page 1
        .ft-page
          h1 section1 / page 2
      .ft-section
        .ft-page
          h1 section2 / page 1
        .ft-page
          h1 section2 / page 2
    script(src="./js/flowtime.min.js")
    script(src="./index.js")
